.fighter-info {
	position: relative;
	width: 150px;
	border: 1px solid black;
	padding: 5px;
}

.inventory-section {
	position: absolute;
	display: flex;
	flex-direction: column;
}

.inventory-section div {
	text-decoration: underline;
}

.menu-button {
	margin-bottom: 5px;
}

.menu-button > button {
	width: 100%;
	padding: 5px;
}

.nav-link {
	padding: .4rem .8rem;
}

.progress-bar {
	-webkit-transition: none;
	-moz-transition: none;
	/* -ms-transition: none; */
	-o-transition: none;
	transition: none;
}
